.footer {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #7D4F92;
}

.footer a {
  font-weight: 500;
  letter-spacing: 1px;
  color: #89e789;
}
