.root {
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 500px;
  /* position: relative; */
}

.root div {
  width: 50%;
  height: 100%;
  padding: 2rem;
  /* overflow: auto; */
}

.root div:first-of-type {
  background-color: #e7ffff;
}

.root div:last-of-type {
  background-color: #fde4e8;
}

.filesPanel,
.trashPanel {
  width: 50%;
  height: 100%;
  padding: 2rem;
  overflow: auto;
}

.filesPanel {
  background-color: #e7ffff;
}

.trashPanel {
  background-color: #fde4e8;
}

.modalMessage {
  margin-left: .5rem;
  font-size: .8rem;
  font-weight: 500;
}

.loadingMessage {
  color: blueviolet;
  animation: fade-in 700ms cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

.errorMessage {
  color: red;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}