.root {
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 600px;
  /* position: relative; */
}

.root div {
  width: 50%;
  height: 100%;
  padding: 2rem;
  overflow: auto;
}

.root div:first-of-type {
  background-color: #e7ffff;
}

.root div:last-of-type {
  background-color: #fde4e8;
}

.filesPanel,
.trashPanel {
  width: 50%;
  height: 100%;
  padding: 2rem;
  overflow: auto;
}

.filesPanel {
  background-color: #e7ffff;
}

.trashPanel {
  background-color: #fde4e8;
}
