/* EXACTLY THE SAME AS LoginForm, USE ONE FOR BOTH? */

.form {
  width: 100%;
  font-size: 1.2rem;
}

.form button {
  border: none;
  width: 180px;
  height: 60px;
  cursor: pointer;
  outline: none;
  font-size: inherit;
}

.errorMessage {
  font-size: 0.6rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 1px 0 1px 0;
}

@media (max-width: 1180px) {
  .form {
    width: 100%;
  }
}
