.root {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
  color: #999999;
}

.root:hover {
  background-color: #202020;
  color: #fcfcfc
}

.inputContainer {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
  background-color: transparent !important;
}

.inputContainer div {
  background-color: inherit !important;
}

.inputContainer input {
  margin-left: 0;
}